<!DOCTYPE html>
<html>
  <head>
    <title>RailsAuthentication</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav  style="background-color: #e3e3e3;">
      <div style="display:flex;justify-content: space-between; width: 40%;"> 
        <div>
          <%= member?(user_signed_in?) %>
        </div>
        <div>
          <%= link_to 'Home', posts_path, method: :get %>
        </div>
      </div> 
    </nav>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

    <%= yield %>
  </body>
</html>
